img{

   height: 55%;
   width: 40%;
}

.projtxt{

   display: flex;
   
   flex-direction: row;
 
}

.projtxt img {

   height: 100%
 
}

#Main{

font-size: 30px;
font-family: "timesnewromanbold";
color: rgb(0, 0, 0);


}


/*phone*/
@media (min-width: 768px) {

    img{

   height: 55%;
   width: 20%;
   }

   .projtxt img {

   width: 50%
 
  }

}

/* IPad */
@media(min-width: 1025px) 
{
     img{

   height: 55%;
   width: 40%;
   }

   .projtxt img {

   height: 30%
 
  }
  


}