img{

   height: 55%;
   width: 45%;
}

.projtxt{

   display: flex;
   
   flex-direction: column;
 
}

.projtxt img {

   height: 100%;
   width: 100%
 
}

#Main{

font-size: 30rem;
font-family: "timesnewromanbold";
color: rgb(0, 0, 0);


}


/*tablet*/
@media (min-width: 768px) {

    img{

   height: 55%;
   width: 40%;
   }


.projtxt{

       display: flex;
   
      flex-direction: row;
      
      font-size: 40%

   }

   .projtxt img {

   width: 50%
 
  }

}

/* laptop */
@media(min-width: 1025px) 
{
     img{

   height: 55%;
   width: 30%;
   }


   .projtxt{

          display: flex;
   
      flex-direction: row;

      font-size: 40%
   }


   .projtxt img {

   height: 80%
 
  }
  


}